# Ignorer l'environnement virtuel Python
env/
venv/
.venv/
venv_phono/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Autres fichiers à éviter
*.log

# Mon script de BackUp
backup_Phonofouille.py
Test_result.py

